:root {
    --bg-main: black
}

body {
    background: var(--bg-main);
    color: white;
}

/* .plyr {
  border-radius: 4px;
  margin-bottom: 15px;
} */

.plyr__control--overlaid {
    background: none !important;
}

#head {
    transform: translateY(-100px);
    opacity: 0;
}

.red-bar {
    background: linear-gradient(45deg, #e50914, #ff1d1d);
    box-shadow: 0 0 10px rgba(229, 9, 20, 0.5);
}

.text-container {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}